.header-section {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
  padding: 0 1rem;
}

.user-dropdown-greeting {
  display: flex;
  align-items: center;

  i {
    padding-right: 10px;
    font-size: xx-large;
  }
}